  #message_headers {
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0;
    background: #fff;
    font-size: 12px;
    font-family: "Lucida Grande";
    border-bottom: 1px solid #dedede;
    overflow: hidden;
  }

  #message_headers dl {
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
  }

  #message_headers dt {
    width: 62px;
    padding: 1px;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #7f7f7f;
  }

  #message_headers dd {
    margin-left: 72px;
    padding: 1px;
  }

  #message_headers p.alternate {
    float: right;
    margin: 0;
  }

  #message_headers p.alternate a {
    color: #09c;
  }

  pre#message_body {
    padding: 10px;
    white-space: pre-wrap;
  }
